<!DOCTYPE html>
<html>
	<head>
		<!--Css -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
	</head>
	<body class="container">

		<form class="form-inline" method="post">
			<div class="form-group">
				<label for="exampleInputName2">[  </label>
				<input type="number" class="form-control" name="exampleInputName1" placeholder="1111111" maxlenght="7">
				<label for="exampleInputName2">  ]</label>
			</div>
			<div class="form-group">
				<input type="number" class="form-control" name="exampleInputName2" placeholder="YYMMDD" maxlenght="6">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="exampleInputName3" placeholder="g3g3" maxlenght="4">
				<label for="exampleInputName2">  --  </label>
			</div>
			<div class="form-group">
				<input type="number" class="form-control" name="exampleInputName4" placeholder="2222"  maxlenght="4">
			</div>
			<button type="submit" class="btn btn-default">Search</button>
		</form>
		<!--scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src='/js/bootstrap.js'></script> 
	<body>
</html>